.materials-page,
.home-page {
  h1 {
    margin: 0 !important;
    padding: 0 !important;
  }

  .theme-default-content {
    padding: 0;
    max-width: 100%;
  }

  .page-meta {
    display: none;
  }
}
