body {
  --search-accent-color: #5485f7;
  --search-item-text-color: #5485f7;
}

.navbar .site-name {
  display: none;
}

// diff 删除
.token.inserted {
  color: #7ec699 !important;
}

.materials-page,
.home-page {
  h1 {
    margin: 0 !important;
    padding: 0 !important;
  }

  .theme-default-content {
    padding: 0;
    max-width: 100%;
  }

  .page-meta {
    display: none;
  }
}
