/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5485f7;
  --ifm-color-title: #111;
  --ifm-color-white: #fff;
  --ifm-color-background: #fff;
  --ifm-color-border-color: rgba(208, 208, 208, 0.44);
  --ifm-color-area: #FAFAFA;
  /* --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208); */
  --ifm-code-font-size: 95%;
  --ifm-container-width-xl: 1600px;
  /* --ifm-container-width: 1140 */
}

:root[data-theme='dark'] {
  --ifm-color-title: #fff;
  --ifm-color-white: #000;
  --ifm-color-background: #2A2D31;
  --ifm-color-border-color: rgba(149, 149, 149, 0.27);
  --ifm-color-area: #242527;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__title {
  font-size: 26px;
}

.navbar__logo {
  height: 70px;
}